@model WebApplication6.Models.CreateLeaveAllocationViewModel 
    <!--IEnumerable<WebApplication6.Models.LeaveTypeViewModel>-->
<!--prevent mismatch data-->

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*Html.ActionLink("Allocate To Employees", "SetLeave", new { id = item.Id }) <!--Bind to Id, call to controller, pass in value Id--> *@
                    <a class="fas fa-user-edit" asp-action="SetLeave" asp-route-id="@item.Id">
                        Allocate To Employees
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
